body {
    margin: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 1px solid black;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #000000;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    width: 100;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

#sidebar-header {
    width: 100%;
    background-color: #41807c;
    text-align: center;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px white solid;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}


/* THIS IS FOR THE CONTAINER PART */

.create-product-container {
    margin: auto;
    display: flex;
    width: 80%;
}

.left-create-product-container {
    width: 220px;
}

.right-create-product-container {
    width: 100%;
}

.right-create-product-container textarea {
    width: 100%;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    resize: none;
}

#textarea-product-description {
    width: 100%;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    resize: none;
}

#category-selection {
    width: 100%;
    height: 45px;
}


/* => This is the css for the upload book with jqury that one */

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
    margin-top: 1rem;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 5px;
    left: 5px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 199px;
    height: 199px;
    margin-bottom: 0;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #0000002a;
    border-color: #8d8d8d;
}

.avatar-upload .avatar-edit input+label:after {
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 200px;
    height: 200px;
    position: relative;
    border: 6px solid #000000;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-container {
    align-items: center;
}


/* => This part is for the pdf_upload_btn */

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td,
#table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.action-btn {
    width: 80px;
    height: 30px;
    margin: auto;
    text-align: center;
    color: white;
    background-color: #0163d3;
    border-radius: 5px;
}

.action-btn:hover {
    background-color: #046ce4;
}

.action-btn span {
    position: relative;
    top: 5px;
}

.all-course-pagination-btn {
    margin-top: 2rem;
    display: flex;
    width: 100%;
}

.all-course-pagination-btn div {
    margin: auto;
}